@import '../ampstart/core';
@import 'page-vars';

body {
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(0,0,0, 0.8);
}
a:focus,a:hover {
  color: rgba(0,0,0, 0.6);
}

.middleman-logo {
  width: 10rem;
}
