<!-- Start Footer -->
<footer class="ampstart-footer flex flex-column items-center p3">
  <nav class="ampstart-footer-nav">
    <ul class="list-reset flex flex-wrap mb3">
      <li class="px1"><a class="text-decoration-none caps h5" href="#">About</a></li>
      <li class="px1"><a class="text-decoration-none caps h5" href="#">Contact</a></li>
      <li class="px1"><a class="text-decoration-none caps h5" href="#">Terms</a></li>
    </ul>
  </nav>
  <small>© Your Company, 2016</small>
</footer>
<!-- End Footer -->
